@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}


.leftBox {
  grid-area: main;
  padding: 50px;
  box-sizing: border-box;
}

section .leftBox .content {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
}

section .leftBox .content:hover {
  background-color: #e91e63;
}

section .leftBox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}

section .leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}

section .events {
  grid-area: event;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

section .events ul {
  margin: 0;
  padding: 40px;
  list-style: none;
}

section .events ul li {
  background-color: #fff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  grid-template-areas:
    "time time"
    "detail detail";
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  section .events ul li {
    grid-template-areas:
      "time detail"
      "time detail";
  }
}

section .events ul li .time {
  grid-area: time;
  position: relative;
  padding: 8% 40%;
  background-color: #262626;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

section .events ul li:hover .time {
  background-color: #e91e63;
}

section .events ul li .time h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}

section .events ul li .time h2 span {
  font-size: 30px;
}

section .events ul li .details {
  grid-area: detail;
  padding: 20px 20px 32px;
  background-color: #fff;
  box-sizing: border-box;
}

section .events ul li .details h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

section .events ul li .details p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}

section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #262626;
  margin-top: 16px;
  font-size: 18px;
  transition: 0.5s;
}

section .events ul li .details a:hover {
  background-color: #e91e63;
  color: #fff;
  border-color: #e91e63;
}